src/main/java/com/big/web/b2b_big2/flight/odr/ws/serviceLeha2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateSchedule">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="origin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dest" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="departDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="airline" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateScheduleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateScheduleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBooking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="criteria" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBookingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBookingResult" type="tns:FindBookingResponseData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FindBookingResponseData">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceMessage">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Records" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="EndingID" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="FindBookingDataList" type="tns:ArrayOfFindBookingData" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ServiceMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="0" maxOccurs="1" name="OtherServiceInfoList" type="tns:ArrayOfOtherServiceInformation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ExtensionDataObject" />
      <s:complexType name="ArrayOfOtherServiceInformation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OtherServiceInformation" nillable="true" type="tns:OtherServiceInformation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OtherServiceInformation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OsiSeverity" type="tns:OSISeverity" />
          <s:element minOccurs="0" maxOccurs="1" name="OSITypeCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubType" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="OSISeverity">
        <s:restriction base="s:string">
          <s:enumeration value="General" />
          <s:enumeration value="Warning" />
          <s:enumeration value="Critical" />
          <s:enumeration value="Unmapped" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfFindBookingData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FindBookingData" nillable="true" type="tns:FindBookingData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FindBookingData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="1" maxOccurs="1" name="FlightDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="FromCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ToCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecordLocator" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BookingID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="PassengerID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="BookingStatus" type="tns:BookingStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="FlightNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ChannelType" type="tns:ChannelType" />
          <s:element minOccurs="0" maxOccurs="1" name="SourceOrganizationCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SourceDomainCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SourceAgentCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Editable" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="tns:BookingName" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpiredDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="AllowedToModifyGDSBooking" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="SystemCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="BookingStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Default" />
          <s:enumeration value="Hold" />
          <s:enumeration value="Confirmed" />
          <s:enumeration value="Closed" />
          <s:enumeration value="HoldCanceled" />
          <s:enumeration value="PendingArchive" />
          <s:enumeration value="Archived" />
          <s:enumeration value="Unmapped" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ChannelType">
        <s:restriction base="s:string">
          <s:enumeration value="Default" />
          <s:enumeration value="Direct" />
          <s:enumeration value="Web" />
          <s:enumeration value="GDS" />
          <s:enumeration value="API" />
          <s:enumeration value="Unmapped" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="BookingName">
        <s:complexContent mixed="false">
          <s:extension base="tns:StateMessage">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Suffix" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="StateMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="1" maxOccurs="1" name="State" type="tns:MessageState" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="MessageState">
        <s:restriction base="s:string">
          <s:enumeration value="New" />
          <s:enumeration value="Clean" />
          <s:enumeration value="Modified" />
          <s:enumeration value="Deleted" />
          <s:enumeration value="Confirmed" />
          <s:enumeration value="Unmapped" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CommitBooking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BookingId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CommitBookingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CommitBookingResult" type="tns:BookingFlight" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BookingFlight">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BookID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CarrierCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Origin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Destination" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartureDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fareSellKey" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PassCount" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="JourneyKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BookingCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BookingAmount" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="NTA" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TimeToPay" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BookStatus" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConfirmBooking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BookingCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmBookingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConfirmBookingResult" type="tns:BookingFlight" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="runODRLionAir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="origin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dest" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="departDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passenger" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="runODRLionAirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="runODRLionAirResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="runODRSriwijaya">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="origin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dest" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="departDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passenger" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="runODRSriwijayaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="runODRSriwijayaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="updateScheduleSoapIn">
    <wsdl:part name="parameters" element="tns:updateSchedule" />
  </wsdl:message>
  <wsdl:message name="updateScheduleSoapOut">
    <wsdl:part name="parameters" element="tns:updateScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="getBookingSoapIn">
    <wsdl:part name="parameters" element="tns:getBooking" />
  </wsdl:message>
  <wsdl:message name="getBookingSoapOut">
    <wsdl:part name="parameters" element="tns:getBookingResponse" />
  </wsdl:message>
  <wsdl:message name="CommitBookingSoapIn">
    <wsdl:part name="parameters" element="tns:CommitBooking" />
  </wsdl:message>
  <wsdl:message name="CommitBookingSoapOut">
    <wsdl:part name="parameters" element="tns:CommitBookingResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmBookingSoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmBooking" />
  </wsdl:message>
  <wsdl:message name="ConfirmBookingSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmBookingResponse" />
  </wsdl:message>
  <wsdl:message name="runODRLionAirSoapIn">
    <wsdl:part name="parameters" element="tns:runODRLionAir" />
  </wsdl:message>
  <wsdl:message name="runODRLionAirSoapOut">
    <wsdl:part name="parameters" element="tns:runODRLionAirResponse" />
  </wsdl:message>
  <wsdl:message name="runODRSriwijayaSoapIn">
    <wsdl:part name="parameters" element="tns:runODRSriwijaya" />
  </wsdl:message>
  <wsdl:message name="runODRSriwijayaSoapOut">
    <wsdl:part name="parameters" element="tns:runODRSriwijayaResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateSchedule">
      <wsdl:input message="tns:updateScheduleSoapIn" />
      <wsdl:output message="tns:updateScheduleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBooking">
      <wsdl:input message="tns:getBookingSoapIn" />
      <wsdl:output message="tns:getBookingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CommitBooking">
      <wsdl:input message="tns:CommitBookingSoapIn" />
      <wsdl:output message="tns:CommitBookingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmBooking">
      <wsdl:input message="tns:ConfirmBookingSoapIn" />
      <wsdl:output message="tns:ConfirmBookingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="runODRLionAir">
      <wsdl:input message="tns:runODRLionAirSoapIn" />
      <wsdl:output message="tns:runODRLionAirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="runODRSriwijaya">
      <wsdl:input message="tns:runODRSriwijayaSoapIn" />
      <wsdl:output message="tns:runODRSriwijayaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSchedule">
      <soap:operation soapAction="http://tempuri.org/updateSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBooking">
      <soap:operation soapAction="http://tempuri.org/getBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommitBooking">
      <soap:operation soapAction="http://tempuri.org/CommitBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmBooking">
      <soap:operation soapAction="http://tempuri.org/ConfirmBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="runODRLionAir">
      <soap:operation soapAction="http://tempuri.org/runODRLionAir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="runODRSriwijaya">
      <soap:operation soapAction="http://tempuri.org/runODRSriwijaya" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSchedule">
      <soap12:operation soapAction="http://tempuri.org/updateSchedule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBooking">
      <soap12:operation soapAction="http://tempuri.org/getBooking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommitBooking">
      <soap12:operation soapAction="http://tempuri.org/CommitBooking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmBooking">
      <soap12:operation soapAction="http://tempuri.org/ConfirmBooking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="runODRLionAir">
      <soap12:operation soapAction="http://tempuri.org/runODRLionAir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="runODRSriwijaya">
      <soap12:operation soapAction="http://tempuri.org/runODRSriwijaya" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
<!--       <soap:address location="http://192.168.1.8/BerlehaWS/serviceLeha2.asmx" /> -->
      <soap:address location="http://10.10.3.125:3234/BerlehaWS/serviceLeha2.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
<!--       <soap12:address location="http://192.168.1.8/BerlehaWS/serviceLeha2.asmx" /> -->
      <soap12:address location="http://10.10.3.125:3234/BerlehaWS/serviceLeha2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>